body {
    min-height: 100vh;
    background-color: var(--text-color);
    font-family: var(--font1);
}


/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

nav {
    position: fixed;
    top: 0.5%;
    left: 0.5%;
    height: 98.5%;
    width: 250px;
    padding: 15px 20px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    background-color: var(--bg-color);
    transition: var(--tran-05);
    border-radius: 24px;
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 40px;
    width: 40px;
    height: 40px;
}

nav .logo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 28px;
    font-weight: 900;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
    font-family: var(--font1);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 45px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 50px;
    text-decoration: none;
    position: relative;
    font-family: var(--font4);
    color: var(--text-color);
    transition: all 0.3s;
}

.active-tab {
    background-color: var(--primary-color);
    color: #262535 !important;
    border-radius: 24px;
}

.active-tab svg path {
    color: #262535 !important;
    fill: #262535 !important;
}

.menu-items li a:hover:before {
    content: "";
    position: absolute;
    left: -10px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;

}

body.dark li a:hover:before {
    background-color: var(--primary-color);
}

.menu-items li a:hover {
    color: var(--primary-color);
}

.menu-items li a svg {
    min-width: 45px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    fill: var(--text-color);
}

.menu-items li a svg path {
    color: var(--text-color);
    fill: var(--text-color);
}

.menu-items li a:hover svg path {
    color: var(--primary-color);
    fill: var(--primary-color);
}


.menu-items li a .link-name {
    font-size: 17px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}


.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid #fff;
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: #fff;
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: #000;
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}


@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data {
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav~.dashboard {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav~.dashboard .top {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard .top {
        left: 0;
        width: 100%;
    }
}