@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
  font-family: jost;
  src: url(../../assets/Jost.ttf);
}

@font-face {
  font-family: jost2;
  src: url(../../assets/Jost-Bold.ttf);
}

@font-face {
  font-family: jost3;
  src: url(../../assets/Jost-SemiBold.ttf);
}

@font-face {
  font-family: jost4;
  src: url(../../assets/Jost-ExtraBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--text-color);
  font-family: var(--font1);
  overflow: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ===== Colors ===== */
  --primary-color: #d8f275;
  --text-color: #f7f7f5;
  --bg-color: #1f1e30;
  --font1: 'Fira Sans', sans-serif;
  --font2: jost, sans-serif;
  --font3: jost2, sans-serif;
  --font4: jost3, sans-serif;
  --font5: jost4, sans-serif;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}


.main-dashboard.dark {
  /* ===== Colors ===== */
  --primary-color: #d8f275;
  --text-color: #000;
  --bg-color: #fff;
  --font1: 'Fira Sans', sans-serif;
  --font2: jost, sans-serif;
  --font3: jost2, sans-serif;
  --font4: jost3, sans-serif;
  --font5: jost4, sans-serif;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

.main-dashboard {
  height: max-content;
  width: 100%;
  display: flex;
  overflow: hidden;
}